<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	<!-- 扫描service -->
	<context:component-scan base-package="com.coracle.*"></context:component-scan>
	<!-- 事物管理 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 通知 -->
	<!-- 事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- 传播行为 -->
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="find*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="select*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="get*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<!-- 切面 -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution(* com.coracle.service.*.*(..))" />
	</aop:config>

	<!--&lt;!&ndash; 发布服务：把接口service发布Zookeeper注册中心 &ndash;&gt;
	&lt;!&ndash; 提供方应用信息，用于计算依赖关系 &ndash;&gt;
	<dubbo:application name="hubin-manager-service" />
	&lt;!&ndash; 使用multicast广播注册中心暴露服务地址 &ndash;&gt;
	&lt;!&ndash; <dubbo:registry address="multicast://224.5.6.7:1234"/> &ndash;&gt;
	&lt;!&ndash; 使用dubbo通过Zookeeper协议注册服务 &ndash;&gt;
	<dubbo:registry protocol="zookeeper" address="192.168.66.66:2181" />
	&lt;!&ndash; 用dubbo协议在20880端口暴露服务 &ndash;&gt;
	<dubbo:protocol name="dubbo" port="20880" />
	&lt;!&ndash; 声明需要暴露的服务接口 &ndash;&gt;
	&lt;!&ndash; 创建需要发布对象 &ndash;&gt;
	<bean id="itemServiceImpl" class="cn.e3mall.manager.service.impl.ItemServiceImpl"></bean>
	&lt;!&ndash; 发布服务 &ndash;&gt;
	<dubbo:service interface="cn.e3mall.manager.service.ItemService"
		ref="itemServiceImpl" />-->

</beans>